$blue: #09f7ff;
$pink:  #f709ff;
$yellow: #f7ff00;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    top: 0;
    background-color: black;
    cursor: default;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    top: 0;
    position: absolute;
    width: 100%;
}

#logo {
    position: fixed;
    width: 10vw;
    left: 5vw;
    top: 2.5vw;
    cursor: pointer;
    z-index: 150;
}

#introContainer {
    margin-left: 25vw;
    margin-top: 7.5vw;
    width: 50vw;
    position: absolute;
}

.introText {
    opacity: 0.75;
    font-size: 10vw;
    margin: 0;
    line-height: 100%;
    transition: 1s;
    font-weight: 600;
    cursor: pointer;
}

.introText:hover {
    opacity: 1;
    transition: 0.5s;
    padding-left: 1vw;
    color: white;
    letter-spacing: 0.25vw;
}

#introDesign:hover {
    text-shadow: 0.35vw 0.35vw 0.75vw $blue;
}

#introGraphics:hover {
    text-shadow: 0.35vw 0.35vw 0.75vw $pink;
}

#introArt:hover {
    text-shadow: 0.35vw 0.35vw 0.75vw $yellow;
}

.highlightDesign {
    opacity: 1;
    transition: 1s;
    padding-left: 1vw;
    color: white;
    letter-spacing: 0.25vw;
    text-shadow: 0.35vw 0.35vw 0.75vw $blue;
}

.highlightGraphics {
    opacity: 1;
    transition: 1s;
    padding-left: 1vw;
    color: white;
    letter-spacing: 0.25vw;
    text-shadow: 0.35vw 0.35vw 0.75vw $pink;
}

.highlightArt {
    opacity: 1;
    transition: 1s;
    padding-left: 1vw;
    color: white;
    letter-spacing: 0.25vw;
    text-shadow: 0.35vw 0.35vw 0.75vw $yellow;
}

#navBar {
    position: sticky;
    display: inline-block;
    padding-left: 25vw;
    top: 0;
    width: 75%;
    margin-top: 2.5vw;
    color: white;
    font-size: 1vw;
    background-color: black;
    z-index: 100;
}

li {
    cursor: pointer;
}

#navBar ul {
    padding: 0;
    margin: 0;
}

#navBar ul > li {
    text-align: left;
    display: inline-block;
    width: 5vw;
    padding: 1vw;
    transition: 0.5s;
    margin-right: 5vw;
}

#navBar ul > li:hover {
    transition: 0.5s;
    text-shadow: 0.15vw 0.15vw 0.15vw $pink;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.5s;
}

.show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    display: inline-block;
}

#servicesContainer {
    position: absolute;
    margin-left: 15vw;
    margin-top: 15vw;
    width: 70vw;
}

.pageName {
    color: white;
    position: absolute;
    margin-top: -4vw;
    margin-left: 2.5vw;
    font-size: 1.25vw;
}

.pageNamePink {
    text-shadow: 0.25vw 0.25vw 0.1vw $pink;
}

.pageNameYellow {
    text-shadow: 0.25vw 0.25vw 0.1vw $yellow;
}

.pageNameBlue {
    text-shadow: 0.25vw 0.25vw 0.1vw $blue;
}

.mainHeader {
    font-size: 4vw;
    margin-top: -5vw;
    margin-left: 25vw;
    width: 50vw;
    display: inline-block;
    letter-spacing: 0.4vw;
}

.colorCollumn {
    position: absolute;
    margin-top: -4vw;
    margin-left: 22.5vw;
    height: 9.5vw;
    width: 0.5vw;
}

.pinkCollumn {
    background-color: $pink;
    box-shadow: 0.25vw 0.25vw 0.5vw $pink;
}

.blueCollumn {
    background-color: $blue;
    box-shadow: 0.25vw 0.25vw 0.5vw $blue;
}

#servicesLeftDiv {
    margin-top: -2vw;
    margin-left: 25vw;
    width: 20vw;
    font-size: 1.5vw;
    font-weight: 500;
    position: absolute;
}

#servicesRightDiv {
    margin-top: -2vw;
    margin-left: 55vw;
    width: 20vw;
    font-size: 1.5vw;
    font-weight: 100;
    opacity: 0.75;
    position: absolute;
}

#aboutUsContainer {
    margin-left: 15vw;
    margin-top: 15vw;
    width: 70vw;
    box-sizing: border-box;
}

.yellowCollumn {
    background-color: $yellow;
    box-shadow: 0.25vw 0.25vw 0.5vw $yellow;
}

#PK {
    width: 20vw;
    position: fixed;
    left: 7.5vw;
    bottom: -10vw;
}

.aboutUs {
    font-size: 1.25vw;
    font-weight: 100;
    margin-left: 25vw;
    margin-bottom: 5vw;
    opacity: 0.75;
    width: 37.5vw;
    text-indent:2vw;
}

#aboutUs2 {
    margin-left: 32.5vw;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;

}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

#skills {
    width: 35vw;
    margin-left: 45vw;
}

#languages {
    width: 50vw;
    margin-left: 22.5vw;
    margin-top: 3vw;
}

#education {
    font-size: 3vw;
    text-shadow: 0.25vw 0.25vw 0.5vw $yellow;
    margin-top: 7.5vw;
    margin-left: 60vw;
    font-weight: 700;
}

#educationDetails {
    margin-left: 46vw;
    font-size: 1.25vw;
    padding-bottom: 10vw;
    width: 35vw;
}

#educationDetails pre {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    margin-top: 0;
}

#educationDetails span {
    padding: 0;
    font-weight: bold;
    display: block;
}

#projectsContainer {
    margin-top: 15vw;
    margin-left: 15vw;
    width: 70vw;
    text-align: left;
}

.portfolioContainer {
    position: relative;
    display: inline-block;
    top: 0;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

.para {
    margin: 0;
    margin-left: 5vw;
    line-height: 0.85em;
    display: block;
    position: sticky;
    text-align: left;
    top: 30vh;
    font-size: 20vw;
    font-weight: 600;
    opacity: 0.15;
    z-index: -1;
    line-height: 0.72EM;
}

.portfolioIMG {
    width: 0;
    transition: 0.5s;
    display: block;
    transform: translateY(2vw);
    transform: translateX(-10%);
    margin-left: 22.5%;
    cursor: pointer;
}

.portfolioItem {
    display: inline-block;
    font-size: 2vw;
    font-weight: 600;
    margin: 0 0 0 10vw;
    line-height: 1.35EM;
    transition: 0.5s;
    cursor: pointer;
}

.designItem:hover {
    text-shadow: 0.2vw 0.2vw 0.25vw $blue;
}

.graphicsItem:hover {
    text-shadow: 0.2vw 0.2vw 0.25vw $pink;
}

.artItem:hover {
    text-shadow: 0.2vw 0.2vw 0.25vw $yellow;
}

#contactButton {
    margin-left: 25vw;
    text-align: right;
}

#contactButton:hover {
    transition: 0.5s;
    text-shadow: 0.15vw 0.15vw 0.15vw $blue;
}

#contactContainer {
    position: fixed;
    display: inline-block;
    margin-top: 17.5vh;
    margin-left: (33%)/2;
    width: 66%;
    background-color: white;
    height: 70vh;
    box-shadow: 1vw 1vw 0.5vw $blue;
    z-index: 100;
}

#close {
    color: black;
    float: right;
    font-size: 3vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    cursor: pointer;
}

#contactUs {
    color: black;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.15vw;
    text-align: center;
    margin-top: 24vh;
    margin-bottom: 0;
}

#email {
    color: black;
    font-size: 4.5vw;
    text-align: center;
    margin: 0;
    font-weight: 700;
    margin-top: 0vh;
}

#social {
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 1vw;
    margin-top: 7.5vh;
}

#social img {
    width: 5vh;
    margin: 1vw;
    cursor: pointer;
}
